<mat-form-field [floatLabel]="floatLabel" hideRequiredMarker>
  <mat-label>{{ label }}</mat-label>

<ng-container *ngIf="multiSelect; else singleSelect">
<mat-form-field appearance="outline" class="full-width">
  
  <!-- This input displays selected values and opens the mat-select -->
  <input
    matInput
    [placeholder]="placeholder"
    [value]="getMultiSelectedNames()"
    readonly
    (focus)="multiSelectDropdown.open()"
    (click)="multiSelectDropdown.open()"
    [attr.aria-label]="ariaLabel"
    [tabIndex]="(readonly || disabled) ? -1 : 0"
    class="multiselect-input"
  />

  <!-- Hidden actual select, still functional -->
  <mat-select
    #multiSelectDropdown
    [formControl]="multiSelectControl"
    multiple
    (openedChange)="onMultiSelectOpened($event)"
    [panelClass]="'multiselect-panel'"
    class="hidden-mat-select"
  >
    <mat-option
      *ngFor="let option of filteredMultiSelectOptions"
      [value]="option.value"
      [xc-tooltip]=option.name
      [xc-tooltip-position]="['bottom-right', 'bottom-left', 'top-right', 'top-left']"
    >
      {{ option.name }}
    </mat-option>

    <div mat-select-footer class="multiselect-actions fbany fbrow justify-end gap">
      <xc-button (click)="cancelMultiSelect()">Cancel</xc-button>
      <xc-button (click)="applyMultiSelect()">Apply</xc-button>
    </div>
  </mat-select>
</mat-form-field>

</ng-container>

  <ng-template #singleSelect>
    <input
      matInput
      autocomplete="off"
      [type]="type"
      [placeholder]="placeholder"
      [formControl]="formControl"
      [matAutocomplete]="auto"
      (mousedown)="mousedown($event)"
      (focus)="onfocus($event)"
      (blur)="onblur($event)"
      [readonly]="readonly"
      [attr.aria-label]="ariaLabel"
      [tabIndex]="(readonly || disabled) ? -1 : 0"
      [required]="required"
    />

    <div class="hidden-field" aria-live="polite" role="none">
      {{ activeOption ? activeOption.name : '' }}
    </div>

    <mat-autocomplete
      class="zeta-scrollbar"
      #auto="matAutocomplete"
      (optionSelected)="optionSelected($event.option)"
      [displayWith]="optionName"
      (opened)="openedAutocomplete()"
      (closed)="closedAutocomplete()"
    >
      <mat-option
        *ngFor="let option of filteredOptions | async"
        tabindex="0"
        [value]="option"
        [disabled]="option.disabled || readonly"
        [xc-tooltip]="option.showTooltip ? option.name : ''"
        [xc-tooltip-position]="['bottom-right', 'bottom-left', 'top-right', 'top-left']"
      >
        <xc-icon
          *ngIf="option.icon; else textTemplate"
          [xc-icon-name]="option.icon"
          xc-icon-size="small"
        >
          {{ option.name }}
        </xc-icon>
        <ng-template #textTemplate>{{ option.name }}</ng-template>
      </mat-option>
    </mat-autocomplete>
  </ng-template>

  
    <mat-error *ngIf="errorVisible" align="end">
      {{ errorContent }}
    </mat-error>
    <mat-icon
      matSuffix
      *ngIf="suffixVisible && !readonly"
      (mousedown)="suffixMouseDown($event)"
      (click)="suffixClick($event)"
    >
      {{ suffixContent }}
    </mat-icon>
</mat-form-field>